h1 {
  color: red;
  font-size: 50px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

#weather { 
  width: 100%;
  margin-left: 10%;
  margin-bottom: 2%;
}

#weatherForecast {
  display: inline-block;
  width: 15%;
  padding-left: 1%;
}

#weatherForecast:not(:first-child) {
  border-left: 2px solid black; 
}

.today {
  width: 100%;
}

#news {
  width: 58%;
  float:right;
}

#tfl {
  float: left;
  width: 25%;
  margin-left: 10%;
}

#cinema {
  margin-left: 10%;
  width: 25%;
  float: left;
  clear: both;
}

#quote {
  width: 58%;
  float: right;
}

@media (max-width: 600px) {
  #tfl {
    width: 100%;
    margin-left: 0%;
  }
}