h1 {
  color: red;
  font-size: 50px;
}

body  {
  background-color: #10123B;
  color: white;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

#weather { 
width: 100%;
background-color: #14A0D3;
}

#weatherForecast {
display: inline-block;
margin-left: 4%;
width: 11%;
padding-left: 1%;
background-color: #14A0D3;
}

.today {
  width: 100%;
}

#news {
  width: 46%;
  padding: 2%;
  float:right;
  background-color: #F35143;
}

#sport {
  width: 46%;
  padding: 2%;
  float:left;
  background-color: #fdc831;
}

#tfl {
  float: left;
  width: 20%;
  margin-left: 5%;
}

#cinema {
  padding: 2%;
  width: 34%;
  float: left;
  /*clear: both;*/
  background-color: #D34191;
}

#quote {
  width: 33%;
   padding: 2%;
   float: right;
  background-color:#1DBAB1; 
}

#advice {
  display: inline-block;
  float: right;
  width: 33%;
  padding: 2%;
  background-color:#15A0D3; 
}

@media (max-width: 600px) {
  #tfl {
    width: 100%;
    float: none;
    margin-left: 0%;
  }

  #weatherForecast {
    width: 25%;
  }

  #weatherForecast:nth-of-type(-n+3) {
    border-bottom: solid black 2px;
  }

  #news, #sport, #cinema, #quote, #advice {
    padding: 1% 0 1% 1%;
    width: 100%;
    float:none;
  } 
}